* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  /* background-color: #f9fafb; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
     background-color: #f4f4f4;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 20px;
  color: #1d293f;
}

.logo img {
  width: 30px;
  height: 30px;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #1d293f;
  font-size: 14px;
}

.auth-buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.login {
  text-decoration: none;
  color: #4caf50;
  font-size: 14px;
}

.signup {
  text-decoration: none;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 14px;
}



/* ============================================ */





.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 100px;
  min-height: 100vh;
      background-color: #f4f4f4;
}

.hero-content {
  flex: 1;
}

.hero-content h1 {
  font-size: 48px;
  color: #333;
  line-height: 1.3;
  margin-bottom: 20px;
}

.hero-content h1 span {
  color: #4caf50;
  display: block;
}

.hero-content p {
  color: #666;
  font-size: 16px;
  margin-bottom: 30px;
}

.hero-content button {
  background-color: #4caf50;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
 
}

.hero-content button:hover {
  background-color: #43a047;
}

.hero-image {
  flex: 1;
  text-align: center;
}

.hero-image img {
  max-width: 100%;
}


/* =================================== */

.clients {
  text-align: center;
  padding: 60px 20px;
  background-color: #fff;
}

.clients h2 {
  font-size: 32px;
  color: #333;
  margin-bottom: 10px;
}

.clients p {
  color: #666;
  margin-bottom: 40px;
  font-size: 16px;
}

.client-logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  font-size: 30px;
  align-items: center;
}
/* ============================================= */

.community {
  max-width: 1200px;
  margin: 60px auto;
  padding: 0 20px;
  text-align: center;
}

.community-text h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 10px;
}

.community-text p {
  color: #666;
  font-size: 16px;
  margin-bottom: 40px;
}

.community-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  background-color: white;
  border-radius: 12px;
  padding: 30px 20px;
  max-width: 320px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}


.card .icon {
  background-color: #E6F4EA;
  border-radius: 8px;
  width: 60px;
  height: 60px;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
}
/* ======================================================= */

.achievements-section {
  padding: 60px 20px;
      background-color: #f4f4f4;
}

.container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left {
  flex: 1 1 300px;
  margin-right: 40px;
}

.left h2 {
  font-size: 32px;
  color: #444;
  margin-bottom: 10px;
}

.left h2 span {
  color: #4caf50;
  font-weight: bold;
}

.left p {
  color: #333;
}

.right {
  flex: 2 1 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.stat {
  display: flex;
  align-items: center;
  color: #22c55e;
  font-size: 30px;
  
}

.stat i{
  width: 40px;
  margin-right: 15px;
}

.stat h3 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.stat p {
  margin: 5px 0 0;
  color: #777;
}


/* ============================================================ */

/* .design{
  
padding: 100px 100px;
}
.design-sec{
   
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
.content-rafiki{
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
    margin: 60px auto;
    padding: 0 20px;
    
    line-break: loose;
}
.design-sec h3{
font-size: 32px
}

.design-sec p{
  padding: 15px 0;
      font-size: 14px;
    color: #666;
    line-height: 1.5;


}
.design-sec button{
     background-color: #4caf50;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin: 0 60% 0 0;
} */




/* ======================================================== */

.unlock-section {
  padding: 60px 20px;
  color: #e0e0e0;
}

.container {
  margin: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.image {
  text-align: center;
  height: auto;
}
.content {
  flex: 1 1 500px;
 
 /* display: inline-block;
  width: 500px;
   */
}

.content h2 {
  font-size: 32px;
  font-weight: bold;
  color: #444;
  margin-bottom: 20px;
}

.content p {
  line-height: 1.7;
  margin-bottom: 30px;
  color: #aaa;
}

.btn {
  display: inline-block;
  background-color: #4CAF50;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: #43a047;
}


/* ===================================================== */




.customer-section {
  padding: 40px;
  background-color: #f4f4f4;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.customer-box {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.image-box {
  flex-shrink: 0;
  width: 330px;
  height: 330px;
  border-radius: 16px;

}

.image-box img {
  width: 100%;
  height: 100%;
 
}

.content-box {
  flex: 1;
}

.description {
  color: #555;
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 20px;
}

.name {
  color: #22c55e;
  margin: 0;
  font-size: 20px;
}

.job-title {
  color: #999;
  margin-bottom: 30px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-bottom: 30px;
  font-size: 30px;
}

.icon {
  width: 40px;
  height: 40px;
  /* background-color: #eee; */
  border-radius: 8px;
}

.link {
  color: #22c55e;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
}
/* ====================================================== */




.main-title , .desc{
  text-align: center;
} 
.updates-section {
  padding: 50px 20px;
  /* background-color: #fff; */
}

.main-title {
  font-size: 30px;
  font-weight: bold;
  color: #1d1d1f;
  margin-bottom: 10px;
}

.desc {
  color: #555;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 40px;
}

.cards-container {
  width: 100%;
  text-align: center;
}

.card {
  display: inline-block;
  width: 300px;
  margin: 10px;
  border-radius: 12px;
  overflow: hidden;
  /* box-shadow: 0 0 5px rgba(0,0,0,0.1); */
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card-box {
  background-color: #f7f7f7;
  padding: 20px;
}

.card-text {
  font-weight: bold;
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.card-box a {
  text-decoration: none;
  color: #28a745;
  font-weight: bold;
}

.card-box a span {
  font-size: 16px;
  margin-left: 5px;
}
/* ============================================= */




.cta-section {
  text-align: center;
  padding: 50px 20px;
  background-color: #f4f4f4;
}

.cta-section h2 {
  font-size: 48px;
  color: #1d2c3c;
  margin-bottom: 40px;
  line-height: 1.2;
}

.cta-button {
  background-color: #28a745;
  color: #fff;
  padding: 14px 28px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 6px;
  display: inline-block;
}

/* =========================================================== */



/* body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1f2b32;
    color: white;
} */

.footer {
    background-color: #1f2b32;
    padding: 40px 60px;
}
.footer h2{
color: white;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-logo-section {
    max-width: 250px;
}

.footer-logo-section .logo {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-logo-section p {
    font-size: 14px;
    color: #ccc;
}

.social-icons {
    margin-top: 20px;
}

.social-icons i {
    margin-right: 12px;
    font-size: 18px;
    color: #ccc;
    transition: 0.3s;
}

.social-icons i:hover {
    color: white;
}

.footer-links {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
}

.footer-links h4 {
    margin-bottom: 10px;
    font-size: 16px;
    color: white;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    font-size: 14px;
    color: #ccc;
}

.footer-links li {
    margin-bottom: 8px;
    cursor: pointer;
}

.subscribe {
    display: flex;
    margin-top: 10px;
    background-color: #47555f;
    border-radius: 6px;
    overflow: hidden;
}

.subscribe input {
    border: none;
    padding: 10px;
    background: none;
    color: white;
    flex: 1;
}

.subscribe input::placeholder {
    color: #ccc;
}

.subscribe button {
    background: none;
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
}
